pycache/ *.py[cod] *$py.class *.so .Python build/ dist/ *.egg-info/ *.egg pip-wheel-metadata/ *.whl *.dist-info/
venv/ .env env/ *.venv *.env
site-packages/
dist/ build/ *.min.js.map *.min.css.map
*.db *.sqlite
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
